<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal" role="form" novalidate angular-validator name="addBookForm" angular-validator-submit="AddBook()">
                    <div class="form-group">
                        <label for="txtTitle">Title</label>
                        <input type="text" id="txtTile" class="form-control" ng-model="book.Title" 
                               validate-on="blur" required required-message="'Book title is required'">
                    </div>
                    <div class="form-group">
                        <label for="txtAuthor">Author</label>
                        <input type="text" id="txtAuthor" class="form-control" ng-model="book.Author" 
                               validate-on="blur" required required-message="'Book author is required'">
                    </div>
                    <div class="form-group">
                        <label for="txtBarcode">Barcode</label>
                        <input type="text" id="txtBarcode" class="form-control" ng-model="book.Barcode" 
                               validate-on="blur" required required-message="'Barcode is required'">
                    </div>
                    <div class="form-group">
                        <label for="txtPrice">Price</label>
                        <input type="text" id="txtPrice" class="form-control" ng-model="book.Price" 
                               validate-on="blur" required required-message="'Price is required'">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="chkReorder" ng-model="book.Reorder" type="checkbox">Reorder
                        </label>
                    </div>
                    <div class="form-group">
                        <label for="txtReorderAmount">ReorderAmount</label>
                        <input type="text" ng-required="book.Reorder" ng-model="book.ReeorderAmount" id="txtReorderAmount" class="form-control">
                    </div>
                <div class="form-group col-xs-4">
                    <label class="control-label"></label>
                    <div class="">
                        <input type="submit" value="Add Book" class="btn btn-primary"/>
                        <span></span>
                        <a class="btn btn-default" ng-href="#/movies/{{movie.ID}}">Cancel</a>
                    </div>
                </div>
                    
            </form>
        </div>
    </div>
</div>