.image-container {
	z-index: 999;
	padding: 10px;
	text-align: center;
	border: 3px dashed #ccc;
	width: 400px;
	height: 581px;
	position: absolute;
	left: 57%;
	bottom: 0%;
    background-color: beige;
}

.image-container img{
    width:100%;height:100%
}