<header class="main-header">

    <!-- Logo -->
    <a class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>A</b>LT</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Book</b>Store</span>
    </a>

    <!-- Header Navbar -->
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <div style="margin-top: 6px;position: relative;top: 45px;right: 35px;margin-top: -36px;" id="shoppingcart">
                    <a href="@Url.Action("Index", "ShoppingCart")"><p style="font-weight:bold">Cart</p></a>
                </div>
            <li><button id="btnSignOut" class="btn btn-primary">Sign out</button></li>
            </ul>
        </div>
    </nav>
</header>
