@model BookStore.Utilities.Models.RegisterBindingModel

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = "Login";
}


<link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
<div class="login">
    <div class="login-header">
        <h1>Register</h1>
    </div>
    @using (Html.BeginForm("Register", "Account", FormMethod.Post))
    {
        <div class="login-form">
            <h3>Email:</h3>
            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email" })
            <h3>Password:</h3>
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", type = "password" })
            <h3>Confirm Password:</h3>
            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Password", type = "password" })
          
            <br>
            <input type="submit" value="Register" class="login-button" />
        </div>
    }
</div>
@if (ViewBag.LoginRslt != null && !ViewBag.LoginRslt)
{
    <div class="error-page">
        <div class="try-again">Error: Try again?</div>
    </div>
}
