@{
    Layout = null;
}
<!DOCTYPE html>
<html ng-app="BookStore">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Book Store</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    @Styles.Render("~/Content/css")
</head>
<body class="hold-transition skin-blue sidebar-mini" ng-controller="rootCtrl">
    <div class="wrapper">
            <main-header></main-header>
            
    </div>
    <main-side-bar></main-side-bar>
    
     <div ng-view></div>
        @Scripts.Render("~/bundles/vendors")
        @Scripts.Render("~/bundles/spa")
</body>
</html>
